body {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
.second {
    border-radius: 50%;
    margin: 20px;
    width: 20%;
    border: 25px solid rgb(62, 62, 62);
}

p {
    background-color: grey;
}
#first {
    display: block;
}